@using NeredeNeYesem.Models.Siniflar
@model List<YemekMekanlari>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yemek Mekanları Listesi</h2>
<br/>
<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>BAŞLIK</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
        
    </tr>
    @foreach(var x in Model) {
    <tr>
        <th>@x.ID</th>
        <th>@x.Baslik</th>
        <th><a href="/Admin/MekanSil/@x.ID" class="btn btn-danger">Sil</a></th>
        <th><a href="/Admin/MekanGetir/@x.ID" class="btn btn-warning">Güncelle</a></th>
        <th><a href="/YemekMekanlari/MekanDetay/@x.ID" class="btn btn-default">Detaylar</a></th>
    </tr>
    }
</table>
<a href="~/Admin/YeniMekan/" class="btn btn-primary">Yeni Mekan</a>

