
@{
    ViewBag.Title = "MesajListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İletişim</h2>
<h3>Mesaj Listesi</h3>

<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Ad Soyad</th>
        <th>Mail</th>
        <th>Mesaj</th>
        <th>Sil</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.ID</th>
            <th>@x.AdSoyad</th>
            <th>@x.Mail</th>
            <th>@x.Mesaj</th>
            <th><a href="/Admin/MesajSil/@x.ID" class="btn btn-danger">Sil</a></th>
        </tr>
    }
</table>