@using NeredeNeYesem.Models.Siniflar;
@model List<YemekMekanlari>


    <div class="orta kapsayici">
        <div class="bolum2">
            @foreach (var x in Model)
            {
                <div class="box20">
                    <a href="/YemekMekanlari/MekanDetay/@x.ID"><img src="@x.FotoUrl" alt="" style="width:320px; height:250px;" /> </a>
                    <div class="box-content">
                        <a href="/YemekMekanlari/MekanDetay/@x.ID"> <h3 class="title">@x.Baslik</h3></a>
                    </div>
            </div>
            }
        </div>
    </div>





